<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-application-info" version="1.0.2"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>PluginApplicationInfo</name>
	<js-module name="appInfo" src="www/application-info.js">
		<clobbers target="cordova.plugins.appInfo" />
		<clobbers target="appInfo" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="PluginApplicationInfo">
				<param name="android-package" value="com.ccervantesb.appinfo.PluginApplicationInfo" />
			</feature>
		</config-file>
		<source-file src="src/android/PluginApplicationInfo.java" target-dir="src/com/ccervantesb/appinfo" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="PluginApplicationInfo">
				<param name="ios-package" value="PluginApplicationInfo" />
			</feature>
		</config-file>
		<source-file src="src/ios/PluginApplicationInfo.m" />
	</platform>
</plugin>